<header class="report-header header">
    <div class="container d-flex">
        <div class="logo-container">
            <img src="public/images/logo.png" alt="Company Logo" class="logo">
        </div>
        <div class="title">
            <h1>Sales Report</h1>
        </div>
    </div>
</header>