<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Shop</title>
        <link rel="stylesheet" type="text/css" href="public/assets/css/styles.css">
    </head>
    <body>
        {% include 'includes/header.twig' %}        
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
