
<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container">
            <form action="import/sales" enctype="multipart/form-data" method="POST">
                <label>Import Sale</label>
                <input required type="file" accept="application/json" name="sales_input" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>